@model TDCD_SharingManga.Models.MangaDetail
@{
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#imgFile").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#cover-photo").attr("src", e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        })
        $("#list-categories").chosen({
            width: "70%"   
        }
        );
    });
    function BackToManage() {
        window.location = window.location.origin + "/Manage/Index";
    }
</script>
@using (Html.BeginForm("Create", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Manga</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-4">Tên truyện</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.displayName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.displayName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Giới thiệu</label>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Tác giả</label>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Thể loại: </label>
            <div class="col-md-8">
                @Html.ListBoxFor(model => model.categories, new MultiSelectList(Model.listCategories, "id", "displayName"), new { id = "list-categories", multiple = "multiple" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Ảnh bìa</label>
            <div class="col-md-8">
                <input type="file" id="imgFile" name="imgFile" value="Chọn ảnh" />
                <img id="cover-photo" src="@Model.image" alt="@Model.displayName" />
                @Html.ValidationMessageFor(model => model.imgFile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="BackToManage()" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
